Flex.Normal.Dungeon.Stat.Percent = 5
Flex.Heroic.Dungeon.Stat.Percent = 7
Flex.Normal.Raid.Stat.Percent = 10
Flex.Heroic.Raid.Stat.Percent = 13
Flex.Mythic.Raid.Stat.Percent = 15
Flex.Normal.Dungeon.SpellPower.Percent = 5
Flex.Heroic.Dungeon.SpellPower.Percent = 7
Flex.Normal.Raid.SpellPower.Percent = 10
Flex.Heroic.Raid.SpellPower.Percent = 13
Flex.Mythic.Raid.SpellPower.Percent = 15
