Flex.Dungeon.Normal.Stat.Percent = 5
Flex.Dungeon.Heroic.Stat.Percent = 7
Flex.Raid.Normal.Stat.Percent = 10
Flex.Raid.Heroic.Stat.Percent = 13
Flex.Raid.Mythic.Stat.Percent = 15
Flex.Dungeon.Normal.SpellPower.Percent = 5
Flex.Dungeon.Heroic.SpellPower.Percent = 7
Flex.Raid.Normal.SpellPower.Percent = 10
Flex.Raid.Heroic.SpellPower.Percent = 13
Flex.Raid.Mythic.SpellPower.Percent = 15
Flex.Dungeon.Normal.Armor.Percent = 3
Flex.Dungeon.Heroic.Armor.Percent = 5
Flex.Raid.Normal.Armor.Percent = 1
Flex.Raid.Heroic.Armor.Percent = 2
Flex.Raid.Mythic.Armor.Percent = 3
